# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.UdemyProje3.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\GitHub\udemyProje3\UdemyProje3\.idea\.idea.UdemyProje3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
